/* Simplon 2023 v.1.0 - Severin */
/* global css, default properties used to get rid of any margin or padding */

:root {
    /* css variables - customed css properties */
    /* main hexadecimal (units) colors */
    --red: #CF3034;
    --grey: #F1F5F8;
    --white: #ffffff; 
    --black: #000000;

    /* default font size */
    --min-size: 15.8px;
    --mid-size: 22.8px;
    --max-size: 38.8px;

    /* default font weight */
    --min-font-weight: 400;
    --max-font-weight: 700;

    /* line-height */
    --ln-height-heading-text: 43.09px;
    --ln-height-prg-text: 24.55px;
}

.ctn {
    background-color: #00000018;
}

*, 
*::before, 
*::after {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

p {
    font-size: var(--min-size);
    line-height: var(--ln-height-prg-text)
}

h1 {
    font-size: var(--max-size);
    color: var(--red);
    line-height: var(--ln-height-heading-text);
    font-weight: bold;
}

hr {
    height: 1px;
    width: 100%;
    background-color: var(--white);
    border: none;
}

a {
    border: 0;
    text-decoration: none;
    color: var(--black);
    font-size: var(--min-size);
    align-self: center;
}

body {
    text-size-adjust: 100%;
    margin: 19px 122px 0;
    
    line-height: 1.13;
    font-size: var(--min-size);
    background-color: rgba(0, 0, 0, 0.118);
    font-weight: var(--min-font-weight);
    
    font-family: 'Nunito Sans', sans-serif;
    
    /* color: var(--white); */
    color: var(--black);
    -webkit-text-size-adjust: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/* header / navigation bar */
i {
    margin: 6px 7px;
}

/* buttons */
button {
    width: max-content;
    font-family: inherit;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    height: 52px;
    font-size: var(--min-size);
    font-weight: 700;
    border-radius: 6px;
    padding-inline: 30px;
    line-height: var(--ln-height-prg-text);
    cursor: pointer;
}

.fa-bars {
    color: var(--red);
    font-size: 56px;
}

.logo {
    width: 58px;
    height: auto;
}

.headerBody {
    /* position: fixed; */
    /* left: 0; */
    /* top: 0; */
    background-color: #0000004f;
    display: flex;
    width: 100%;
    height: 83px;
    align-items: center;
    position: relative;
}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .navBarLinks {
    text-align: center;
    align-items: center;
    line-height: 24.55px;
    margin: 0 15px;
    padding: 7px;
    font-weight: 400;
    text-decoration: none; 
    margin: 0;
    padding: 0;
}

.navBarLinks {
        display: flex;
    list-style: none;
}

.navBarLinks li, a {
    margin: 18.5px;
}

.navBarLinks > li {
    text-align: center;
}

.navBarLinks > li:hover {
    transition: .2s ease-in-out;
    background-color: var(--red);
    color: var(--white);
}








/* Hero - Heading Welcome Section CSS */
.heroCtn {
    background-color: #fff;
    padding: 45px 60px;
    display: flex;
    justify-content: center;
    width: min(1196px, 100%);
    min-height: 514px;
    margin-top: 39px;
    gap: 26.8px;
}

.bannerLeftCtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainTextContent {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}

.bannerLeftCtn, .bannerRightCtn {
    width: 100%;
    min-height: 424px;
}

.bannerRightCtn {
    position: relative;
    right: -60px;
}

.filledButton {
    background-color: var(--red);
    color: var(--white);
}

.clearButton {
    background-color: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
}

.heroBtnContainer {
    gap: 1.5rem;
    margin-top: 10px;
    display: flex;
    align-self: flex-start;
}

.welcomeImg {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}

/* Hero - Heading Welcome Section CSS media queries */
@media (max-width: 1384.8px) {
    .heroCtn {
        flex-wrap: wrap;
    }

    .heroCtn .bannerRightCtn {
        display: block;
        width: max-content;
        right: 0;
    }

    .heroCtn .bannerLeftCtn {
        gap: 19.50px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .heroCtn .heroBtnContainer {
        align-self: center;
    }

    .mainTextContent {
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 788.8px) {
    .heroCtn .bannerRightCtn {
        display: none;
    }
    .heroCtn .heroBtnContainer {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .heroCtn .heroBtnContainer button {
        align-self: center;
        padding-inline: 100%;
    }

}